<p>edit-user works!</p>

<div class="col-md-6 user-container container">
<h2 class="text-center"> Edit user</h2>
<form action="" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
        <input type="text" name="id" id="id" formControlName="id" placeholder="id" class="form-control">
    </div>

    <div class="form-group">
        <label for="username"> Username</label>
        <input type="text" formControlName="username" placeholder="username" name="username" class="form-group" id="username" readonly="true">
    </div>

    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
      </div>
  
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" formControlName="age" placeholder="age" name="age" class="form-control" id="age">
      </div>
  
      <div class="form-group">
        <label for="salary">Salary:</label>
        <input type="number" formControlName="salary" placeholder="salary" name="salary" class="form-control" id="salary">
      </div>

      <button class="btn btn-success">update</button>
</form>
</div>
