<p>book-detail works!</p>


<div class="container">

    <select class="form-select" >
        <option value="1">one</option>
        <option value="2">two</option>
        <option value="3">three</option>
        <option value="4">four</option>
    </select>
</div>

<div class="container">
    <select name="" id="" [(ngModel)]="selected">
        <option *ngFor="let n of food">{{n}}</option>
    </select>

    {{selected}}
</div>


<main>
    <section>
            <article>
                <h1>mean stack</h1>
                <p>mean stack trainig includes dicussion on Mongo DB and node</p>

                <aside>
                    visit our official sites

                </aside>
                <address>
                    john
                    231A
                    palance Leam
                    Banglore
                </address>
            </article>
    </section>

</main>

<ul style="list-style-type: square;">
    <li>htmls</li>
    <li>asd</li>
    <li>asd</li>
</ul>

<h2 id="top">topic</h2>
<p>details</p>
<p> Details</p>
<a href="#top" target="_blank"> go to top</a>


country :
<input list="countries">
<datalist id="countries">
    <option value="India">
    <option value="Thaildan">
    <option value="USA">
    <option value="Russiao">
    <option value="BRads">
    <option value="asd">

</datalist>



<div id="fixedpos">
    this div is fixed positino/ this is div positioned relative to viewport 
    or browser.'the viewport' doesn't change when the window is scrolled
</div>

<div id="staticpos">
    this div is statically positioned the left right and top and bottom will have no effect on the follwoing

</div>

<div id="relativepos">
    the div is positioned relatively
    the left right top and bottom values will be applied realtive to the element itself 
</div>


<div>
    <p>The first child element.</p>
	<p>The second child element</p> 
	<p>The third child element</p>
	<p>The fourth child element</p>
</div>